.pokemonsDiv{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}
p{
    color: black;
    font-weight: bolder;
}
.pokemon{
    border: solid 2px black;
    background-color: rgb(116, 151, 156);
    text-align: center;
}